.App {
  margin-top: 50px;
}
.input-form {
  margin-bottom: 20px;
}
.input-form .title {
  border: none;
  border-radius: 0px;
  padding: 0px 12px;
}
.input-form .title:hover,
.input-form .title:active,
.input-form .title:focus {
  border: none !important;
}
.input-form .btn {
  border-radius: 0px;
}
